---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { slug as githubSlug } from "github-slugger";
import { PER_PAGE } from "../../../../const";
import PageMeta from "../../../../components/PageMeta.astro";
import Hero from "../../../../components/Hero.astro";
import Side from "../../../../components/Side.astro";
import ArchivePost from "../../../../components/ArchivePost.astro";

const { slug } = Astro.params;
const page = (() => {
    const { page } = Astro.params;

    if (!page) {
        return null;
    }

    return parseInt(page);
})();
let name = "";

if (!page || page === 1) {
    return new Response(null, {
        status: 404,
        statusText: "Not found post",
    });
}

const allPosts = (
    await getCollection(
        "blog",
        (data) =>
            Array.isArray(data.data.tags) &&
            data.data.tags.some((t) => {
                if (githubSlug(t) === slug) {
                    name = t;
                    return true;
                }
                return false;
            })
    )
).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const posts = allPosts.slice((page - 1) * PER_PAGE, page * PER_PAGE);
if (!posts.length) {
    return new Response(null, {
        status: 404,
        statusText: "Not found post",
    });
}

const hasNext = allPosts.length > (page - 1) * PER_PAGE + PER_PAGE;
---

<BaseLayout>
    <PageMeta slot="head" title={`Page ${page} - ${name} - Tags`} noindex />

    <main>
        <Hero title={`${name} - Page: ${page}`} />

        <div class="l-container">
            <div class="c-archive">
                {posts.map((post) => <ArchivePost post={post} />)}
            </div>

            <nav>
                <ul class="c-navigation has-sm-padding">
                    <li class="c-navigation__item">
                        <a
                            rel="prev"
                            href={page === 2
                                ? `/tag/${slug}/`
                                : `/tag/${slug}/page/${page - 1}/`}
                            class="c-navigation__anchor">PREV PAGE</a
                        >
                    </li>
                    {
                        hasNext && (
                            <li class="c-navigation__item">
                                <a
                                    rel="next"
                                    href={`/tag/${slug}/page/${page + 1}/`}
                                    class="c-navigation__anchor"
                                >
                                    NEXT PAGE
                                </a>
                            </li>
                        )
                    }
                </ul>
            </nav>
        </div>
    </main>

    <Side />
</BaseLayout>

<style lang="scss">
    .wrap {
        @apply grid grid-cols-1 gap-10 pb-8;
    }

    .nav {
        @apply flex gap-4 justify-start items-center py-8;

        &__item {
            @apply m-0;
        }
    }
</style>
