---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { DateTime } from "luxon";
import { type CollectionEntry, getCollection } from "astro:content";
import { slug as slugConvert } from "github-slugger";
import removeMd from 'remove-markdown'
import Side from "../components/Side.astro";

type Props = {
    entry: CollectionEntry<"blog">;
};

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { slug } = Astro.params;
const { entry } = Astro.props;
const { title, date, tags, thumbnail } = entry.data;
const { Content, headings, } = await entry.render();
const excerpt = removeMd(entry.body).replace(/\n\r|\n|\r/g, "").substring(0, 200);

const { prev, next } = await (async () => {
    const allPosts = (await getCollection("blog")).sort(
        (a, b) => b.data.date.getTime() - a.data.date.getTime()
    );

    const index = allPosts.findIndex((post) => post.slug === slug);

    const prev = (() => {
        if (index <= 0) {
            return null;
        }

        return allPosts[index - 1];
    })();

    const next = (() => {
        if (index >= allPosts.length - 1) {
            return null;
        }

        return allPosts[index + 1];
    })();

    return { prev, next };
})();
---

<BaseLayout>
    <PageMeta
        slot="head"
        title={title}
        description={excerpt}
        image={slug ? `/api/${slug}/ogp.png` : undefined}
    />

    <main>
        <figure class="visual">
            <img
                src={thumbnail ? thumbnail : '/content/background.jpg'}
                alt={title}
                class="visual__image"
                transition:name={`post-image-${slug}`}
            />
        </figure>

        <div class="l-container">
            <article class="main">
                <div class="header">
                    <h1 class="header__title" transition:name={`post-title-${slug}`}>{title}</h1>
                    <div class="header__meta">
                        <time
                            class="header__meta__time"
                            datetime={DateTime.fromJSDate(date).toISO()}
                            >{
                                DateTime.fromJSDate(date).toFormat("yyyy/LL/dd")
                            }</time
                        >
                        {
                            Array.isArray(tags) && (
                                <ul class="header__meta__tag">
                                    {tags.map((tag: string) => (
                                        <li class="header__meta__tag__item">
                                            <a
                                                href={`/tag/${encodeURIComponent(
                                                    slugConvert(tag)
                                                )}`}
                                            >
                                                {tag}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            )
                        }
                    </div>
                </div>

                <section class="content">
                    <Content />
                </section>
            </article>

            <nav>
                <ul class="page-nav">
                    <li class="page-nav__item" data-prev>
                        {
                            prev && (
                                <a
                                    rel="prev"
                                    href={`/${prev.slug}/`}
                                    class="page-nav__item__anchor"
                                >
                                    <figure class="page-nav__item__visual">
                                        <img
                                            src={prev.data.thumbnail ? prev.data.thumbnail : '/content/background.jpg'}
                                            alt={prev.data.title}
                                            transition:name={`post-image-${prev.slug}`}
                                            class="page-nav__item__visual__image"
                                        >
                                    </figure>

                                    <div class="page-nav__item__body">
                                        <span class="page-nav__item__label">
                                            PREV
                                        </span>
                                            <span transition:name={`post-title-${prev.slug}`}>{prev.data.title}</span>
                                    </div>
                                </a>
                            )
                        }
                    </li>
                    <li class="page-nav__item" data-next>
                        {
                            next && (
                                <a
                                    rel="next"
                                    href={`/${next.slug}/`}
                                    class="page-nav__item__anchor"
                                >
                                    <figure class="page-nav__item__visual">
                                        <img
                                            src={next.data.thumbnail ? next.data.thumbnail : '/content/background.jpg'}
                                            alt={next.data.title}
                                            transition:name={`post-image-${next.slug}`}
                                            class="page-nav__item__visual__image"
                                        >
                                    </figure>

                                    <div class="page-nav__item__body">
                                        <span class="page-nav__item__label">
                                            NEXT
                                        </span>
                                            <span transition:name={`post-title-${next.slug}`}>{next.data.title}</span>
                                    </div>
                                </a>
                            )
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <Side headings={headings} />
</BaseLayout>

<style lang="scss">
    .main {
        @apply pt-10 pb-10;

        @screen sm {
            @apply pt-20 pb-20;
        }
    }

    .visual {
        @apply h-48;

        @screen sm {
            @apply h-64;
        }

        &__image {
            @apply w-full h-full object-cover;
        }
    }

    .header {
        @apply pb-10 mb-10 border-0 border-b border-solid border-slate-300;

        @screen sm {
            @apply pb-14 mb-14;
        }

        &__title {
            @apply mt-0 text-3xl font-bold leading-tight;

            @screen sm {
                @apply text-4xl leading-tight;
            }
        }

        &__meta {
            @apply flex flex-wrap justify-start items-center mt-4;

            &__time {
                @apply flex justify-start items-center;

                &::after {
                    content: "/";
                    @apply mx-3;
                }
            }

            &__tag {
                @apply flex flex-wrap justify-start items-center;

                &__item {
                    & + & {
                        &::before {
                            content: ",";
                            @apply mr-2;
                        }
                    }
                }
            }
        }
    }

    .content {
        @apply text-lg;
        line-height: 1.8;

        :global(a) {
            @apply text-red-900 dark:text-[#FF7B72];
        }

        :global(a:visited) {
            @apply text-red-800 dark:text-[#FF7B72];
        }

        :global(a:hover) {
            text-decoration: none;
        }

        /**
        * Heading
        */
        :global(h2) {
            @apply text-3xl font-bold;
            margin: 2em 0 0.5em;

            @screen sm {
                @apply text-4xl;
            }
        }

        :global(h3) {
            @apply text-2xl font-bold;
            margin: 2em 0 0.5em;

            @screen sm {
                @apply text-3xl;
            }
        }

        :global(h4) {
            @apply font-bold;
            margin: 2em 0 0.5em;
        }
        :global(h5) {
            @apply font-bold;
            margin: 2em 0 0.5em;
        }

        :global(h2 a),
        :global(h3 a),
        :global(h4 a),
        :global(h5 a) {
            color: inherit;
            text-decoration: none;
        }

        /**
        * Paragraph
        */
        :global(p) {
            margin: 1.4em 0;
        }

        /**
        * Image
        */
        :global(img) {
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }

        /**
        * Table
        */
        :global(table) {
            margin: 1.4em 0;
        }
        :global(th) {
            padding: 0.5em;

            @apply border border-solid border-slate-300 bg-slate-200 dark:bg-slate-700;
        }
        :global(td) {
            padding: 0.5em;
            @apply border border-solid border-slate-300 break-all;
        }

        /**
        * Media
        */
        :global(iframe) {
            width: 100%;
            max-height: 40rem;

            @screen sm {
                max-height: none;
            }
        }

        /**
        * List
        */
        :global(ul),
        :global(ol),
        :global(dl) {
            margin: 1.4em 0;
        }
        :global(ul) {
            @apply list-disc;
            margin-left: 1.4em;
        }
        :global(ol) {
            @apply list-decimal;
            margin-left: 1.4em;
        }
        :global(ul ul),
        :global(ul ol),
        :global(ul dl),
        :global(ol ul),
        :global(ol ol),
        :global(ol dl),
        :global(dl ul),
        :global(dl ol),
        :global(dl dl) {
            margin: 0;
        }
        :global(dt) {
            font-weight: bold;
        }
        :global(dd) {
            padding-left: 2em;
        }

        /**
        * Code
        */
        :global(code) {
            @apply text-red-900 border border-solid border-red-900  dark:text-[#FF7B72] dark:border-[#FF7B72];

            padding: 0.1em 0.25em;
            border-radius: 0.3em;
            font-weight: bold;
            display: inline-block;
            line-height: 1.2;
            vertical-align: middle;
            margin: 0 0.2em;
        }
        :global(pre) {
            line-height: 1.2;
            overflow: auto;
            padding: 0.4em;
            margin: 0 -1.5rem;
            font-size: .9em;

            @screen sm {
                margin: 0 -4rem;
            }
        }
        :global(pre code) {
            border: none;
            color: inherit;
            display: block;
            line-height: 1.4;
            margin: 0;
            font-weight: inherit;
        }

        /* For Prism */
        :global(pre[class*="language-"]),
        :global(code[class*="language-"]) {
            @apply text-lg;
        }
    }

    .page-nav {
        @apply m-0 p-0 py-10 list-none border-0 border-t border-solid border-slate-300;
        @apply grid gap-2;

        &__item {
            @apply grid gap-1;

            &__anchor {
                @apply flex gap-4 items-start leading-snug;
            }

            &__visual {
                @apply w-16 h-16 shrink-0;

                &__image {
                    @apply w-full h-full object-cover;
                }
            }

            &__body {
                @apply grid gap-1;
            }

            &__label {
                @apply text-sm font-bold;
            }

            &[data-next] & {
                &__anchor {
                    @apply flex-row-reverse text-right;
                }
            }
        }
    }
</style>
