---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets'
import { DateTime } from "luxon";
import { slug as slugConvert } from "github-slugger";

type Props = {
    post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { slug, data } = post;
---

<div class="archive-post">
    <a href={`/${slug}/`} class="archive-post__anchor">
        <figure class="archive-post__visual">
            <Image
                src={data.thumbnail ? data.thumbnail : '/content/background.jpg'}
                alt={data.title}
                width={1600}
                height={900}
                class="archive-post__visual__image"
                transition:name={`post-image-${slug}`}
            />
        </figure>

        <h2 class="archive-post__title" transition:name={`post-title-${slug}`}>
            {data.title}
        </h2>
    </a>

    <div class="archive-post__meta">
        <time
            class="archive-post__meta__time"
            datetime={DateTime.fromJSDate(data.date).toISO()}
            >{DateTime.fromJSDate(data.date).toFormat("yyyy/LL/dd")}</time
        >
        {
            data.tags &&
                data.tags.map((tag: string) => (
                    <a
                        href={`/tag/${encodeURIComponent(slugConvert(tag))}`}
                        class="archive-post__meta__tag"
                    >
                        {tag}
                    </a>
                ))
        }
    </div>
</div>

<style lang="scss">
    .archive-post {
        @apply grid grid-cols-1 gap-1;

        @screen sm {
            @apply gap-2;
        }

        &__anchor {
            @apply no-underline grid grid-cols-1 gap-1;

            @screen sm {
                @apply gap-2;
            }
        }

        &__visual {
            @apply h-32 overflow-hidden;

            @screen sm {
                @apply h-48;
            }

            &__image {
                @apply w-full h-full object-cover transition-all;
            }
        }

        &__anchor:hover &__visual__image {
            @apply scale-105 brightness-125;
        }

        &__meta {
            @apply flex flex-wrap text-sm;

            gap: 0 1rem;

            &__time {
                @apply font-bold;
            }

            &__tag {
                @apply no-underline;

                &:hover {
                    @apply underline;
                }
            }
        }

        &__title {
            @apply font-bold text-xl;

            @screen sm {
                @apply text-2xl;
            }
        }
    }
</style>
