---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets'
import { DateTime } from "luxon";
import { slug as slugConvert } from "github-slugger";
import defaultImage from '../assets/background.jpg'

type Props = {
    post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { slug, data } = post;
---

<div class="archive-post">
    <a href={`/${slug}/`} class="archive-post__anchor">
        <h2 class="archive-post__title" transition:name={`post-title-${slug}`}>
            {data.title}
        </h2>
    </a>

    <div class="archive-post__meta">
        <time
            class="archive-post__meta__time"
            datetime={DateTime.fromJSDate(data.date).toISO()}
            transition:name={`post-time-${slug}`}
            >{DateTime.fromJSDate(data.date).toFormat("yyyy/LL/dd")}</time
        >
        {
            data.tags &&
                data.tags.map((tag: string) => (
                    <a
                        href={`/tag/${encodeURIComponent(slugConvert(tag))}`}
                        class="archive-post__meta__tag"
                        transition:name={`post-tag-${slug}-${slugConvert(tag)}`}
                    >
                        {tag}
                    </a>
                ))
        }
    </div>
</div>

<style lang="scss">
    .archive-post {
        @apply grid grid-cols-1 gap-1;

        @screen sm {
            @apply gap-2;
        }

        &__anchor {
            @apply no-underline hover:underline grid grid-cols-1 gap-1;

            @screen sm {
                @apply gap-2;
            }
        }

        &__meta {
            @apply flex flex-wrap text-sm;

            gap: 0 1rem;

            &__time {
                @apply font-bold;
            }

            &__tag {
                @apply no-underline;

                &:hover {
                    @apply underline;
                }
            }
        }

        &__title {
            @apply font-bold text-lg;

            @screen sm {
                @apply text-lg;
            }
        }
    }
</style>
