---
type Props = {
    title?: string;
    description?: string;
    image?: string;
    noindex?: boolean;
};

const { title, description, image, noindex } = Astro.props;
const pageTitle = title
    ? `${title} - SUSH-i LOG`
    : "SUSH-i LOG - 名古屋のWeb制作会社につとめるプログラマーのつぶやき";
const ogImage = new URL(image ? image : "/api/ogp.png", Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<title>{pageTitle}</title>

<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={pageTitle} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{
    description && (
        <>
            <meta name="description" content={description} />
            <meta property="og:description" content={description} />
            <meta property="twitter:description" content={description} />
        </>
    )
}
<meta property="og:type" content="article" />
<meta
    property="og:site_name"
    content="SUSH-i LOG - 名古屋のWeb制作会社につとめるプログラマーのつぶやき"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@sushat4692" />
<meta name="twitter:title" content={pageTitle} />

<link rel="canonical" href={canonicalURL} />

{noindex && <meta name="robots" content="noindex" />}
